@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&family=Inconsolata:wght@600&family=Nunito+Sans:wght@400&family=Roboto+Slab:wght@425&display=swap');

body {
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    background-color: #f8f4e3; /* cosmic latte */
    color: #2a2b2a; /* jet black */
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 3%;
    font-size: 54px;
    font-family: "Halant", serif;
    display: inline-block;
    vertical-align: middle;
}


#alert, noscript {
    font-family: "Inconsolota", monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(120, 8, 8); /* blood red */
    border-radius: 4px;
    color: rgb(237, 201, 200);
    text-shadow: none;
    padding: 12px;
    width: 90%;
    margin: auto;
    max-width: 500px;
    animation: fadeIn ease .75s;
}

#alert {
    display: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

@keyframes fadeOut {
    100% {opacity: 1;}
    0% {opacity: 0;}
}

.close-alert {
    float: right;
    font-size: 30px;
    line-height: 19px; /* vertically centers alert */
    cursor: pointer;
    transition: .2s ease;
}

.close-alert:hover {
    transform: scale(1.5);
} 

#alert:active, .close-alert:active {
    animation: fadeOut ease .5s;
}

h3 {
    font-size: 26px;
    font-family: "Roboto Slab", serif;
}

form {
     width: 375px auto;
}

input {
    width: 23%;
    height: 25px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2.5px solid #2a2b2a;
    background: transparent;
    padding: 0px 0px 0px 8px;
    color: #2a2b2a;
    box-shadow: inset 0 -1px 0 rgba(black, 0.3);
}

input:focus {
    border-bottom: 3.5px solid #003459; /* Prussian Blue */
    transition: .1s ease;
}

::placeholder {
    color: rgb(167, 167, 167);
    text-transform: none;
}

.invalid {
    animation: shake .3s;
    animation-iteration-count: 2;
}

@keyframes shake {
    25% { transform: translateX(4px) }
    50% { transform: translateX(-4px) }
    75% { transform: translateX(4px) }
}

.form {
    top: 200%;
    text-transform: capitalize;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 3%;
    bottom: 10%;
    transition: .2s ease;
    font-size: 30px;
    font-family: "Inconsolota", monospace;
}

.close-btn:hover {
    transform: scale(1.5);
}

.close-btn-wish {
    cursor: pointer;
    position: absolute;
    right: 3%;
    bottom: 10%;
    transition: .2s ease;
    font-size: 30px;
    font-family: "Inconsolota", monospace;
}

.close-btn-wish:hover {
    transform: scale(1.5);
}

#add, #addWishlist {
    margin-left: .5%;
    background-color: #2a2b2a;
    border: none;
    top: 310px;
    border-radius: 6px;
    box-sizing: border-box;
    color: #f8f4e3;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    transition-duration: .2s;
    width: 60px;
    height: 30px;
}

#add:hover, #addWishlist:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 4px 8px 15px;
    transform: translateY(-2px);
}
    
#add:active, #addWishlist:active {
    box-shadow: none;
    transform: translateY(0);
}

a {
    text-decoration: none;
    color: rgb(19, 36, 74);
} 

i {
    vertical-align:text-top;
    margin-top: right;
    float: right;
}

a:hover {
   transition: .2s ease;
   color: rgb(120, 8, 8);
}

li {
    list-style: none;
    width: 32%;
    text-align: left;
    border-radius: 4px;
    padding: 10px; 
    padding-left: 1.5%;
    margin: 10px auto;
    margin-left: 31.45%;
    background-color: #003459;
    color: #f8f4e3;
    text-transform: none;
    animation: fadeIn ease .4s;
}

li:hover {
    background-color: rgb(120, 8, 8);
    transition: background-color .15s linear;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 8px 15px;
    transform: translateY(-5px);
    transition: .3s ease;
}

@media (max-width: 900px) {

    h1 {
        margin-left: 10%;
    }
    body {
        width: 95%;
    }

    .add {
        padding: .75rem 1.5rem;
    }

    #alert {
        font-size: 16px;
    }

    .close-alert {
        line-height: 20px;
    }

    input {
        width: 210px;
    }

    li {
        width: 80%;
        margin-left: 2%;
    }

  }